body {
    background-color: rgb(0, 132, 255);
    font-size: 13px;
  }
  
  h1,
  p {
    text-align: center;
  }
  
  .container {
    top: 500px;
    width: 400px;
    height: 420px;
    background-color: white;
    border-radius: 5px;
    margin: 150px 550px;
    padding: auto;
    font-family: "Montserrat", serif;
  }
  
  .info {
    margin: 25px;
    line-height: 2;
  }
  
  input {
    border-radius: 5px;
    width: 350px;
    height: 30px;
    margin-bottom: 8px;
    border-style: solid;
  }
  
  label {
    font-family: "Ubuntu";
    font-size: 15px;
  }
  
  .btn {
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 21px;
    background: #1f8a70;
    padding: 6px 143px 30px 145px;
    text-decoration: none;
    border: none;
    margin-top: 30px;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  .footer {
    color: white;
    font-size: 14px;
  }
  
  .link {
    color: #34d98f;
  }
  .green-text {
    padding: 20px;
    color: green;
    font-weight: 900;
    font-size: larger;
    text-decoration: underline;
  }